<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd  
        ">  
  
  
  
    <!-- 生成远程服务代理，可以像使用本地bean一样使用demoService -->  
    <!-- GDS -->
    <!-- 
    <dubbo:reference id="distributionPriceServiceDubbo"  
        interface="com.fangbaba.gds.face.service.IDistributionPriceService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false" retries="0"/>  
    <dubbo:reference id="distributionSwitchServiceDubbo"  
        interface="com.fangbaba.gds.face.service.IDistributionSwitchService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false" retries="0"/>  
    <dubbo:reference id="distributorConfigServiceDubbo"  
        interface="com.fangbaba.gds.face.service.IDistributorConfigService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false" retries="0"/>  
    <dubbo:reference id="gdsChannelServiceDubbo"  
        interface="com.fangbaba.gds.face.service.IGdsChannelService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false" retries="0"/>  
    <dubbo:reference id="gDSHotelTagServiceDubbo"  
        interface="com.fangbaba.gds.face.service.IGDSHotelTagService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false" retries="0"/>  
    <dubbo:reference id="gdsOrderServiceDubbo"  
        interface="com.fangbaba.gds.face.service.IGdsOrderService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false" retries="0"/>  
    <dubbo:reference id="gdsTypeServiceDubbo"  
        interface="com.fangbaba.gds.face.service.IGdsTypeService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false" retries="0"/>  
    <dubbo:reference id="hotelOnsaleServiceDubbo"  
        interface="com.fangbaba.gds.face.service.IHotelOnsaleService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false" retries="0"/>  
    <dubbo:reference id="hotelQRCodeServiceDubbo"  
        interface="com.fangbaba.gds.face.service.IHotelQRCodeService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false" retries="0"/>  
    <dubbo:reference id="hotelSearchServiceDubbo"  
        interface="com.fangbaba.gds.face.service.IHotelSearchService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false" retries="0"/>  
    <dubbo:reference id="otaHotelServiceDubbo"  
        interface="com.fangbaba.gds.face.service.IOtaHotelService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false" retries="0"/>  
    <dubbo:reference id="priceService"  
        interface="com.fangbaba.gds.face.service.IPriceService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false" retries="0"/>  
    <dubbo:reference id="salePriceServiceDubbo"  
        interface="com.fangbaba.gds.face.service.ISalePriceService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false" retries="0"/>  
    <dubbo:reference id="otaRoomtypeServiceDubbo"  
        interface="com.fangbaba.gds.face.service.OtaRoomtypeService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false" retries="0"/>  
    <dubbo:reference id="gdsHotelChannelSettingServiceDubbo"  
        interface="com.fangbaba.gds.face.service.IHotelChannelSettingService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false" retries="0"/>  
    <dubbo:reference id="otaHotelFullFlagServiceDubbo"  
        interface="com.fangbaba.gds.face.service.IOtaHotelFullFlagService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false" retries="0"/>
    <dubbo:reference id="hotelOpenSettingService"
        interface="com.fangbaba.gds.face.service.IHotelOpenSettingService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false" retries="0"/>
     -->
    
    <!-- stock -->
    <!-- 
    <dubbo:reference id="stockService"
        interface="com.fangbaba.stock.face.service.IStockService"  timeout="30000" group="${dubbo.stock.group}" version="1.0.0" check="false"/>     
     -->
     
   <!-- settlement -->
   <!-- 
   <dubbo:reference id="settlementOfficeService"
		interface="com.mk.office.service.IOfficeService" timeout="30000" group="${dubbo.sc.group}"  version="1.0.0" check="false"/>
   <dubbo:reference id="settlementRelationServiceDubbo"  
        interface="com.mk.settlement.service.ISettlementRelationService"  timeout="30000" group="${dubbo.sc.group}" version="1.0.0" check="false" retries="0"/> 
    -->  
     
    <!-- basic -->
    <!-- 
    <dubbo:reference id="hotelServiceDubbo"  
        interface="com.fangbaba.basic.face.service.HotelService"  timeout="30000" group="${dubbo.basic.group}" version="1.0.0" check="false" retries="0"/>  
    <dubbo:reference id="roomtypeServiceDubbo"  
        interface="com.fangbaba.basic.face.service.RoomtypeService"  timeout="30000" group="${dubbo.basic.group}" version="1.0.0" check="false" retries="0"/>  
    <dubbo:reference id="cityServiceDubbo"  
        interface="com.fangbaba.basic.face.service.CityService"  timeout="30000" group="${dubbo.basic.group}" version="1.0.0" check="false" retries="0"/>  
    <dubbo:reference id="districtServiceDubbo"  
        interface="com.fangbaba.basic.face.service.DistrictService"  timeout="30000" group="${dubbo.basic.group}" version="1.0.0" check="false" retries="0"/>  
    <dubbo:reference id="provinceServiceDubbo"  
        interface="com.fangbaba.basic.face.service.ProvinceService"  timeout="30000" group="${dubbo.basic.group}" version="1.0.0" check="false" retries="0"/>  
    <dubbo:reference id="roomServiceDubbo"  
        interface="com.fangbaba.basic.face.service.RoomService"  timeout="30000" group="${dubbo.basic.group}" version="1.0.0" check="false" retries="0"/>  
    <dubbo:reference id="sellPriceServiceDubbo"  
        interface="com.fangbaba.basic.face.service.SellPriceService"  timeout="30000" group="${dubbo.basic.group}" version="1.0.0" check="false" retries="0"/>
    <dubbo:reference id="hotelBusinessServiceDubbo"
		interface="com.fangbaba.basic.face.service.HotelBusinessService" timeout="30000" group="${dubbo.basic.group}"  version="1.0.0" check="false" retries="0"/>    
	 -->
	
	<!-- order -->  
	<!--           
	<dubbo:reference id="orderService"  
        interface="com.fangbaba.order.service.OrderService"  timeout="30000" group="${dubbo.order.group}" version="1.0.0" check="false" retries="0"/>  
     -->
     
	<!-- crm -->
	<!-- 
    <dubbo:reference id="hotelInfoServiceDubbo"
        interface="com.mk.hms.dubbo.service.HotelInfoService"  timeout="30000" group="${dubbo.crm.group}" version="1.0.0" check="false" retries="0"/>
     -->

	<!-- datacenter -->
	<!-- 
    <dubbo:reference id="datacenterService"  
        interface="com.fangbaba.datacenter.service.DatacenterService"  timeout="30000" group="${dubbo.datacenter.group}" version="1.0.0" check="false" retries="0"/> 
    <dubbo:reference id="hotelChangePushServiceImplDubbo"  
        interface="com.fangbaba.gds.face.service.IHotelChangePushService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false" retries="0"/>    
    <dubbo:reference id="hotelTagsAPIService" 
        interface="com.fangbaba.basic.face.service.HotelTagsService" timeout="20000" check="false" retries="0" group="${dubbo.basic.group}" version="1.0.0"/>
     -->    
</beans>  
